@import './base.css';

@property --bg-gradient-color {
    syntax: '<color>';
    initial-value: #bebebe13;
    inherits: false;
}

@property --bg-gradient-black {
    syntax: '<color>';
    initial-value: #bebebe13;
    inherits: false;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url('./wavy-lines.svg');
    background-size: cover;
    user-select: none;
}

code {
    font-weight: 600;
    padding: 3px 5px;
    border-radius: 2px;
    background-color: var(--color-background-mute);
    font-family:
        ui-monospace,
        SFMono-Regular,
        SF Mono,
        Menlo,
        Consolas,
        Liberation Mono,
        monospace;
    font-size: 85%;
}

input[type='text'],
input[type='number'] {
    cursor: text;
    display: inline-block;
    border: 1px solid transparent;
    text-align: left;
    font-weight: 600;
    white-space: nowrap;
    border-radius: 20px;
    padding: 0 30px;
    line-height: 38px;
    font-size: 14px;

    &:focus {
        outline: none;
    }
}

.input-wrapper {
    position: relative;
    width: fit-content;
    height: auto;
    align-self: center;

    svg {
        cursor: pointer;
        padding: 5px;
        margin-right: 5px;
        position: absolute;
        display: inline-block;
        top: 0;
        right: 0;
        color: var(--color-background-mute);
    }
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80px;
}

@property --shadow-angle {
    syntax: '<angle>';
    initial-value: 45deg;
    inherits: false;
}
@property --shadow-color {
    syntax: '<color>';
    initial-value: #bb5d1e00;
    inherits: false;
}

.logo {
    --shadow-angle: 45deg;
    --shadow-color: #bb3d1e00;
    color: var(--ev-c-text-1);
    margin-bottom: 20px;
    -webkit-user-drag: none;
    height: 128px;
    width: 128px;
    filter: drop-shadow(
            calc(cos(var(--shadow-angle)) * 2px) calc(sin(var(--shadow-angle)) * 2px) 15px #00ff62f5
        )
        drop-shadow(
            calc(cos(var(--shadow-angle)) * -2px) calc(sin(var(--shadow-angle)) * -2px) 10px
                var(--shadow-color)
        )
        drop-shadow(
            calc(cos(var(--shadow-angle)) * 18px) calc(sin(var(--shadow-angle)) * 18px) 30px #1e6fbb
        );
    transition:
        --shadow-color ease 1s,
        --shadow-angle ease 1s;
    animation: 10s glow cubic-bezier(0.56, 0.15, 0.42, 0.83) alternate infinite;
}
.logo-loading {
    --shadow-angle: 45deg;
    --shadow-color: #bb3d1e;
    filter: drop-shadow(
            calc(cos(var(--shadow-angle)) * 6px) calc(sin(var(--shadow-angle)) * 6px) 15px #00ff62f5
        )
        drop-shadow(
            calc(cos(var(--shadow-angle)) * -4px) calc(sin(var(--shadow-angle)) * -4px) 10px
                var(--shadow-color)
        )
        drop-shadow(
            calc(cos(var(--shadow-angle)) * 18px) calc(sin(var(--shadow-angle)) * 18px) 30px #1e6fbb
        );
    transition: --shadow-color ease 1s;
    animation: rotate-shadow 1.75s cubic-bezier(0.56, 0.15, 0.42, 0.83) infinite;
}
@keyframes glow {
    33% {
        filter: drop-shadow(
                calc(cos(var(--shadow-angle)) * 16px) calc(sin(var(--shadow-angle)) * 16px) 15px
                    #00ff62f5
            )
            drop-shadow(
                calc(cos(var(--shadow-angle)) * 24px) calc(sin(var(--shadow-angle)) * 24px) 30px
                    #1e6fbb
            );
    }
    66% {
        filter: drop-shadow(
                calc(cos(var(--shadow-angle)) * -16px) calc(sin(var(--shadow-angle)) * 16px) 15px
                    #00ff62f5
            )
            drop-shadow(
                calc(cos(var(--shadow-angle)) * -24px) calc(sin(var(--shadow-angle)) * 24px) 30px
                    #1e6fbb
            );
    }
    100% {
        filter: drop-shadow(
                calc(cos(var(--shadow-angle)) * -10px) calc(sin(var(--shadow-angle)) * -6px) 12px
                    #00ff62f5
            )
            drop-shadow(
                calc(cos(var(--shadow-angle)) * -24px) calc(sin(var(--shadow-angle)) * -14px) 40px
                    #1e6fbb
            );
    }
}
@keyframes rotate-shadow {
    to {
        --shadow-angle: 405deg;
    }
}

.creator {
    font-size: 14px;
    line-height: 16px;
    color: var(--ev-c-text-2);
    font-weight: 600;
    margin-bottom: 10px;
}

.text {
    font-size: 28px;
    color: var(--ev-c-text-1);
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    margin: 0 10px;
    padding: 16px 0;
}

.tip {
    font-size: 16px;
    line-height: 24px;
    color: var(--ev-c-text-2);
    font-weight: 600;
}

.gradient-text {
    background: -webkit-linear-gradient(
        35deg,
        var(--ev-c-green-2) 15%,
        var(--ev-c-green-1) 35%,
        var(--ev-c-green-2)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.actions {
    display: flex;
    /* padding-top: 32px; */
    margin: -6px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.action {
    flex-shrink: 0;
    padding: 6px;

    &.green {
        background-color: var(--ev-c-green-1);
    }
    &.red {
        background-color: var(--ev-c-red-1);
    }
}

.action a {
    position: relative;

    height: 40px;

    cursor: pointer;
    text-decoration: none;
    display: flex;
    gap: 4px;
    align-items: center;
    border: 1px solid transparent;
    text-align: center;
    font-weight: 600;
    white-space: nowrap;
    border-radius: 20px;
    padding: 0 20px;
    line-height: 38px;
    font-size: 14px;
    border-color: var(--ev-button-alt-border);
    color: var(--ev-button-alt-text);
    background-color: var(--ev-button-alt-bg);
    align-self: baseline;

    svg {
        height: 24px;
        width: 24px;
    }

    .spinner {
        position: absolute;
        top: calc(50% - 12px);
        left: calc(50% - 12px);
        rotate: 0deg;
        opacity: 0;
        animation:
            spinner 2s infinite,
            fadeIn 0.25s forwards;
    }
}
.waiter a span {
    display: flex;
    gap: 4px;
    align-items: center;
}

.action a:hover {
    border-color: var(--ev-button-alt-hover-border);
    color: var(--ev-button-alt-hover-text);
    background-color: var(--ev-button-alt-hover-bg);
}

.action.primary a {
    border-color: var(--ev-button-primary-border);
    color: var(--ev-button-primary-text);
    background-color: var(--ev-button-primary-bg);
}

.action.primary a:hover {
    border-color: var(--ev-button-primary-hover-border);
    color: var(--ev-button-primary-hover-text);
    background-color: var(--ev-button-primary-hover-bg);
}

.action.tertiary a {
    border-color: var(--ev-button-tertiary-border);
    color: var(--ev-button-tertiary-text);
    background-color: var(--ev-button-tertiary-bg);
}

.action.tertiary a:hover {
    border-color: var(--ev-button-tertiary-hover-border);
    color: var(--ev-button-tertiary-hover-text);
    background-color: var(--ev-button-tertiary-hover-bg);
}

.versions {
    position: absolute;
    bottom: 30px;
    margin: 0 auto;
    padding: 15px 0;
    font-family: 'Menlo', 'Lucida Console', monospace;
    display: flex;
    overflow: hidden;
    align-items: center;
    border-radius: 22px;
    background-color: #202127;
    backdrop-filter: blur(24px);
}

.versions li {
    display: flex;
    gap: 10px;
    align-items: center;
    float: left;
    border-right: 1px solid var(--ev-c-gray-1);
    padding: 0 20px;
    font-size: 14px;
    line-height: 14px;
    opacity: 0.8;
    &:last-child {
        border: none;
    }

    span {
        display: block;
        height: 12px;
        width: 12px;
        border-radius: 50%;
    }
}
.green-status {
    background-color: var(--ev-c-green-1);
}
.red-status {
    background-color: var(--ev-c-red-1);
}
.getting-status {
    border: 3px dotted var(--ev-c-text-2);
    animation: spinner 6s linear infinite;
}

.app-versions {
    margin: 20px 0;
    font-family: 'Menlo', 'Lucida Console', monospace;
    display: inline-flex;
    overflow: hidden;
    align-items: center;
    padding-inline-start: 0;
    position: fixed;
    bottom: 5px;
}

.app-versions li {
    display: block;
    float: left;
    border-right: 1px solid var(--ev-c-gray-1);
    padding: 0 10px;
    font-size: 14px;
    line-height: 14px;
    opacity: 0.8;
    &:last-child {
        border: none;
    }
}

.remote-pill {
    margin: 15px 0;
    font-family: 'Menlo', 'Lucida Console', monospace;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    position: fixed;
    bottom: 0px;
    left: 100px;
    width: fit-content;
    padding: 0 8px 0 5px;
    border-radius: 5px;
    color: var(--ev-c-text-1);
    background-color: var(--ev-c-green-3);

    span {
        position: absolute;
        height: 4px;
        width: 4px;
        border-radius: 50%;
        top: 12px;
        left: 15px;
        background-color: var(--ev-c-text-2);
        z-index: 999;
    }

    svg {
        scale: 0.85;
        opacity: 0.35;
        animation: fadeIn 1.5s ease-out infinite alternate-reverse;
    }
}

@media (max-width: 720px) {
    .text {
        font-size: 20px;
    }
}

@media (max-width: 620px) {
    .versions {
        display: none;
    }
}

@media (max-width: 350px) {
    .tip,
    .actions {
        display: none;
    }
}

/* : Screens : */
.landing-screen {
    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.screen-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 00px 0px 90px;
    box-sizing: border-box;
    overflow: hidden;

    /* opacity: 0; */
    /* animation: fadeIn 0.25s ease-in-out forwards; */
}

.screen-header {
    width: 65vw;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: calc(10ch - 50px);

    h1 {
        display: flex;
        gap: 10px;

        .tooltip {
            margin: 3px 0 -3px 0;
        }
    }

    .header-group {
        display: flex;
        align-items: baseline;
        gap: 12px;
    }

    .header-server-status {
        width: 100%;
        margin: 0 auto;
        padding: 5px 20px;
        font-family: 'Menlo', 'Lucida Console', monospace;
        display: flex;
        overflow: hidden;
        align-items: center;
        border-radius: 22px;
        background-color: #202127;
        backdrop-filter: blur(24px);
        
        span {
            margin-left: 10px;
            display: block;
            height: 12px;
            width: 12px;
            border-radius: 50%;
        }
    }
}

.scrolleable {
    overflow-y: auto;
    padding-bottom: 100px;
}

/* : Sidebar : */
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100vh;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    background-color: var(--ev-c-black);
    transition: width 0.3s ease-in-out;
    opacity: 0;
    animation: fadeIn 0.15s ease-in-out 0.3s forwards;

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    border-right: 1px solid transparent;
    border-image-source: linear-gradient(
        to bottom,
        var(--ev-c-green-3),
        var(--ev-c-green-1),
        #00000000
    );
    border-image-slice: 1;

    a {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 12px;
        color: var(--ev-c-green-1);
        text-decoration: none;
        border-left: 1px solid transparent;

        svg {
            width: 36px;
            height: 36px;
            min-width: 36px;
        }

        &:hover {
            filter: brightness(1.5);
        }
    }

    a > img {
        margin-left: auto;
        width: 30px;
        height: 30px;
    }

    .tooltip {
        &:nth-last-child(4) {
            margin-top: auto;
        }
    }

    .selected {
        color: var(--ev-c-text-1);
    }
    .sidebard-divider {
        width: 50%;
        border-top: 1px solid var(--ev-c-green-3);
        align-self: center;
    }
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes spinner {
    to {
        rotate: 720deg;
    }
}

.sidebar.closed {
    width: 80px;
}

/* : Languages : */
.lang-keys-container {
    height: 80vh;
    width: 65vw;
    overflow-y: scroll;
    position: relative;

    .lang-row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        border: 1px solid var(--ev-c-green-3);
        border-top: none;

        &:first-child {
            position: sticky;
            top: 0;
            background-color: var(--ev-c-green-3);
        }

        p {
            overflow-wrap: break-word;
            padding: 6px 12px;
        }

        .edited {
            background-color: var(--ev-c-red-1);
        }

        .edited {
            background-color: var(--ev-c-green-2);
        }
    }
    .lang-key-column {
        color: var(--ev-c-green-1);
    }
}

.lang-editor-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--ev-c-black);
    border: 1px solid var(--ev-c-green-3);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    textarea {
        border: 1px solid var(--ev-c-green-1);
        padding: 10px;
        height: 120px;
        border-radius: 4px;
        font-family: 'Menlo', 'Lucida Console', monospace;
        font-size: 14px;
        line-height: 18px;
        resize: none;

        &:focus {
            outline: none;
        }
    }
    .actions {
        display: flex;
        gap: 12px;
        justify-content: flex-end;
    }
}

.modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    backdrop-filter: blur(4px);
}

.info-message {
    height: fit-content;
    padding: 5px 0 0 10px;
}
.success-messagge {
    color: var(--ev-c-green-1);
}
.error-messagge {
    color: var(--ev-c-red-1);
}
.warning-messagge {
    color: var(--ev-c-orange-1);
}

.upload-modal-container {
    height: 300px;
    width: 500px;

    input {
        margin-top: 1rem;
    }

    .actions {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
}

.upload-modal-aditional-info {
    color: var(--ev-c-text-2);
}

.upload-modal-checkbox {
    cursor: pointer;

    span {
        padding-left: 10px;
    }
}

.upload-modal-info-box {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;

    .spinner {
        rotate: 0deg;
        opacity: 0;
        animation:
            spinner 2s linear infinite,
            fadeIn 0.25s forwards;
    }
}

/* : Landing : */
.landing-buttons {
    margin: 24px 0px;
}

.select-version-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    div {
        border: 1px solid var(--ev-c-green-3);
        border-radius: 4px;
        padding: 20px 30px;
    }
}

.card-row-container {
    position: relative;
    width: 80vw;
    display: flex;
    justify-content: start;
    gap: 10px;

    overflow-y: visible;
    overflow-x: auto;
    &::-webkit-scrollbar {
        display: none;
    }

    border-top: 1px solid transparent;
    border-image-source: linear-gradient(
        to right,
        var(--ev-c-green-3),
        var(--ev-c-green-1),
        #00000000
    );
    border-image-slice: 1;

    > div {
        margin: 5px 0;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #bebebe1a;
        background-color: #bebebe13;
        min-width: 130px;
        width: 130px;

        p:first-child {
            font-weight: 600;
            color: var(--ev-c-text-1);
        }
        p {
            color: var(--ev-c-text-2);
        }
    }
}
.main-screen-theme-card {
    height: 110px;

    .logo-container {
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;

        div {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    img,
    svg {
        height: 50px !important;
        max-width: 100% !important;
        width: auto;
    }
}
.shortcuts-container {
    width: 80vw;
    height: 40%;

    gap: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);

    > div {
        cursor: pointer;
        padding: 15px;
        border-radius: 15px;
        border: 1px solid #bebebe1a;
        background: #bebebe13;

        display: flex;
        align-items: center;
        gap: 10px;

        &:hover {
            border: 1px solid #bebebe41;
        }
    }

    *:nth-child(1) {
        --bg-gradient-color: var(--ev-c-green-0);
        grid-area: 1 / 1 / 3 /4;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;

        svg {
            height: 40px;
            width: 40px;
            margin-bottom: -10px;
            color: var(--ev-c-green-0);
            filter: drop-shadow(0px 0px 30px var(--bg-gradient-color));
        }

        .power-off svg {
            --bg-gradient-color: var(--ev-c-red-1);
            color: var(--ev-c-red-1);
            filter: drop-shadow(0px 0px 30px var(--bg-gradient-color));
        }

        .spinner {
            rotate: 0deg;
            opacity: 0;
            animation:
                spinner 2s infinite,
                fadeIn 0.3s forwards;
        }
    }
    *:nth-child(2) {
        grid-area: 1 / 4 / 1 / 6;
    }
    *:nth-child(3) {
        grid-area: 2 / 4 / 2 / 6;
    }
    *:nth-child(4) {
        grid-area: 3 / 1 / 4 / 3;
    }
    *:nth-child(5) {
        grid-area: 3 / 3 / 3 / 5;
    }
    *:nth-child(6) {
        grid-area: 3 / 5 / 3 / 6;
        background: var(--ev-c-red-3);
        justify-content: space-between;
    }
}
.custom-enabled {
    border: 1px solid var(--ev-c-green-1);
    background: -webkit-linear-gradient(90deg, var(--ev-c-green-3), var(--bg-gradient-black) 90%);

    transition:
        --bg-gradient-color 0.5s ease,
        border-color 0.5s ease;

    p {
        color: var(--ev-c-green-0);
    }
}

/* : Assets : */
.assets-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 210px));
    justify-content: center;
    justify-items: center;
    gap: 10px;
}
.grid-divider {
    margin: 5px 0;
    grid-column: 1/-1;
    width: 100%;
    border-top: 1px solid var(--ev-c-green-3);

    p {
        color: var(--ev-c-text-2);
    }
}

.grid-bg {
    grid-template-columns: repeat(auto-fit, minmax(210px, 210px));
}
.grid-third {
    grid-template-columns: repeat(auto-fit, minmax(210px, 210px));
}
.grid-styles {
    grid-template-columns: repeat(auto-fit, minmax(285px, 285px));
}
.grid-audio {
    grid-template-columns: repeat(auto-fit, minmax(330px, 330px));
}

.bg-asset-container {
    position: relative;
    width: 200px;
    margin-bottom: 10px;

    p {
        margin: 0 10px 10px 0px;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .bg-container {
        width: 100%;
        height: 95px;
        display: flex;
        justify-content: center;
    }

    .actions {
        margin: 8px 0px 0 0;
        justify-content: end;
        gap: 8px;

        .button svg {
            margin-top: 5px;
        }
    }
}

.icon-asset-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;

    .icons-container {
        width: 100%;
        height: 105px;
        padding: 0 10px;
        display: flex;
        justify-content: center;

        img,
        svg {
            height: 105px;
            max-width: 105px;
            width: auto;
        }
    }

    .actions {
        margin: 8px 0px 0 0;
        justify-content: end;
        gap: 8px;

        .button svg {
            margin-top: 5px;
        }
    }
}

.assets-container {
    padding: 15px;
    border-radius: 15px;

    --bg-gradient-color: var(--ev-c-item-asset);
    border: 1px solid #bebebe1a;
    background: -webkit-linear-gradient(
        90deg,
        var(--bg-gradient-color),
        var(--bg-gradient-black) 90%
    );

    transition:
        --bg-gradient-color 0.5s ease,
        border-color 0.5s ease;
}

.asset-card-has-custom {
    --bg-gradient-color: var(--ev-c-green-3);
    border: 1px solid var(--ev-c-green-1);
    background: -webkit-linear-gradient(
        90deg,
        var(--bg-gradient-color),
        var(--bg-gradient-black) 90%
    );

    transition:
        --bg-gradient-color 0.5s ease,
        border-color 0.5s ease;

    p {
        color: var(--ev-c-green-0);
    }
}

.asset-card-initial {
    --bg-gradient-color: var(--ev-c-item-asset);
    border: 1px solid #bebebe1a;
    background: -webkit-linear-gradient(
        90deg,
        var(--bg-gradient-color),
        var(--bg-gradient-black) 90%
    );

    transition:
        --bg-gradient-color 0.5s ease,
        border-color 0.5s ease;
}

.asset-card-header {
    width: 100%;
    height: auto;
    padding: none;
    display: flex;
    justify-content: space-between;

    p {
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.asset-card-show-buton {
    opacity: 0;
    animation: fadeIn 0.3s forwards ease;

    .tooltip {
        > svg {
            margin-top: 8px;
        }
    }
}

.thirdscreen-asset-container {
    /* height: 100%; */
    width: 200px;

    .asset-card-header {
        margin-bottom: 10px;
    }

    .custom-thirscreen-container {
        display: flex;
        justify-content: center;
        height: 120px;
        margin-bottom: 10px;

        img,
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.thirdscreen-add-new-container {
    padding: 15px;
    width: fit-content;
    height: 156px;

    .thirdscreen-add-new-button {
        cursor: pointer;
        width: 175px;
        height: 100%;
        border-radius: 10px;
        border: 1px solid var(--ev-c-green-3);
        color: var(--ev-c-green-1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        svg {
            /* width: 40px; */
            height: auto;
        }
    }
}
.third-interval-section {
    width: 90%;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;

    p {
        width: 70%;
    }
    input {
        width: 150px;
    }
}

.audio-asset-container {
    p {
        margin: 0 20px 10px 10px;
    }

    audio {
        background-color: transparent;
    }

    .actions {
        margin: 8px 0px 0 0;
        justify-content: end;
        gap: 8px;

        .button svg {
            margin-top: 5px;
        }
    }
}

.color-asset-container {
    margin: 1px;
    min-width: 273px;
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 30px;

        span {
            padding-right: 7px;
        }
    }

    .original-color-sample {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 50px;
        background-color: #bebebe13;
        color: rgb(236, 236, 236);
        padding: 6px 8px 6px 18px;
    }
    .color-sample {
        height: 30px;
        width: 30px;
        border-radius: 20px;
        border: var(--color-background) 2px solid;
    }

    .tag {
        margin-left: 20px;
        font-size: 12px;
        line-height: 4px;
    }

    .input-wrapper {
        width: 100%;
        cursor: pointer;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            border: none;
            background: white;

            svg {
                top: -2px;
                right: -5px;
                height: 46px;
                width: 46px;
                color: var(--ev-c-green-1);
            }
            &.inactive svg {
                color: var(--ev-c-red-1);
            }

            &:focus {
                outline: none;
            }
        }
    }

    .custom-color-sample {
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 7px;
        width: 30px;
        height: 30px;
        border-radius: 20px;
        border: var(--color-background) 2px solid;
    }

    .hidden-color-input {
        height: 0px;
        width: 0px;
        opacity: 0;
        position: absolute;
        top: 9px;
        right: 7px;
    }
}

.style-button-preview {
    min-width: 273px;
    width: 273px;
    height: 100px;
    padding: 40px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.15s ease 0.5s forwards;
}

.toggler {
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 190px;

    div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 50px;
        background-color: white;
        color: black;
        padding: 6px 8px 6px 18px;
        width: 100%;
        cursor: pointer;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            border: none;
            background: white;

            svg {
                top: -2px;
                right: -6px;
                height: 46px;
                width: 46px;
                color: var(--ev-c-green-1);
            }
            &.power-off svg {
                color: var(--ev-c-red-1);
            }

            &:focus {
                outline: none;
            }
        }
    }
}

.main-screen-container {
    height: 100vh;

    .main-screen-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        height: calc(80% - 55px);
    }
}

.new-main-screen-container {
    height: 100vh;

    .main-screen-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        height: calc(80% - 55px);
    }
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-actions {
    display: flex;
    justify-content: end;
}
.main-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/** PREVIEWER */
.preview-wrapper {
    padding: 15px;
    border-radius: 25px;
    border: 1px solid #bebebe1a;
    background-color: #bebebe13;
}

.preview-container {
    --preview-container-height-px: 400px;
    --preview-container-height: 400;

    --preview-res-h: 768;
    --preview-res-h-px: 768px;
    --preview-res-w: 1024;
    --preview-res-w-px: 1024px;
    --preview-container-zoom: calc(var(--preview-container-height) / var(--preview-res-h));

    height: calc(var(--preview-container-height-px));
    /* aspect-ratio: 16 / 9; */
    aspect-ratio: 4 / 3;
    position: relative;
    margin-bottom: 30px;
}

.preview-theme-name {
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: row;
    top: -30px;
    left: -30px;
    background-color: var(--ev-c-red-1);
    padding: 5px 10px 5px 5px;
    border-radius: 10px 10px 0 10px;
    color: white;
    filter: drop-shadow(5px 5px 5px #00000036) drop-shadow(6px 8px 9px #00000036);

    svg {
        height: 24px;
        width: auto;
    }

    div {
        display: flex;
        border-right: 1px solid white;
        padding-right: 15px;
        margin-right: 15px;
    }
}
.preview-content {
    zoom: var(--preview-container-zoom);
    position: relative;
    width: var(--preview-res-w-px);
    height: var(--preview-res-h-px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    opacity: 0;
    animation: fadeIn 0.13s ease-in forwards;

    h1 {
        z-index: 100;
        text-align: center;
        margin: 6px 0 0;
        width: 80%;
        font-size: 52px;
        font-weight: 500;
        line-height: 1.1;
        text-transform: uppercase;
    }

    .preview-bg {
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transform: translateY(calc(-50% + calc(1080 / 2)));
    }

    .preview-logo {
        position: absolute;
        left: 5%;
        top: 5%;
        height: 60px;
        width: auto;

        img,
        svg {
            height: 60px;
            max-width: 100%;
            width: auto;
        }
    }

    .preview-lang-btn {
        position: absolute;
        right: 5%;
        top: 5%;
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 6px;
        height: 60px;
        width: 110px;
        font-size: 32px;

        img,
        svg {
            height: 40px;
            max-width: 100%;
            width: auto;
        }
    }

    .preview-nav-container {
        width: 90%;
        position: absolute;
        bottom: 5%;
        left: 5%;
        display: flex;
        justify-content: space-between;
        gap: 8px;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            height: 75px;
            width: 90%;

            padding: 0;
            font-size: 32px;
            font-weight: 500;
            font-family: inherit;
            transition: border-color 0.25s;

            img {
                height: 30px;
                width: 30px;

                * {
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }

    /* IDLE */
    .preview-start-btn {
        position: absolute;
        right: 5%;
        bottom: 5%;
        width: auto;
        /* height: 40px; */
        padding: 40px;
        font-size: 32px;
    }

    .preview-qr-container {
        height: 220px;
        width: 220px;
        z-index: 100;

        svg {
            height: 100%;
            width: auto;
        }
    }

    /* MENU */
    .preview-menu-container {
        z-index: 99;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 90%;
        align-items: center;
        /* bottom: 5%;
        left: 5%; */

        button {
            padding: 15px 20px;
            margin: 20px 0px;
            font-size: 32px;
            font-weight: 500;
            font-family: inherit;
            transition: border-color 0.25s;
            width: 50%;
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
        }
    }

    /* INPUT */
    .preview-input-container {
        z-index: 99;
        display: grid;
        grid-template-columns: auto 400px;
        background: white;
        padding: 20px;
        /* height: 100%; */
    }
    .preview-input-input-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        span {
            font-size: 2.25rem;
        }
        input {
            text-align: center;
            font-size: 50px;
            width: 240px;

            background-color: transparent;
            color: black;
            border: none;
            border-bottom: 1px solid black;
            font-size: 28px;

            &:focus-visible {
                outline: none;
            }
        }
        button svg {
            margin-top: 10px;
        }
    }

    .preview-input-numpad-container {
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            display: grid;
            gap: 3px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
            width: 340px;
            height: 340px;

            button {
                font-size: 24px;
            }
        }
    }

    .preview-info-image {
        margin-top: 30px;
        img,
        svg {
            height: 180px;
            width: 180px;
        }
    }
}

.preview-hilight-area {
    outline: 15px solid transparent;
    outline-offset: 25px;
    transition: all 0.15s ease;

    cursor: pointer;
    * {
        cursor: pointer;
    }

    &:hover {
        border-radius: 20px !important;
        outline: 15px solid var(--ev-c-green-0);
        outline-offset: 5px;
        /* transition: all 0.15s ease; */
    }

    &:has(.preview-hilight-area:hover) {
        outline: 15px solid transparent;
        outline-offset: 25px;
        transition: all 0.15s ease;
    }
}

.preview-settings-bubble {
    position: absolute;
    top: 20%;
    right: 0%;
    display: flex;
    flex-direction: column;
    border: 1px solid lime;
    background-color: var(--color-background);
    opacity: 0;
    animation: fadeIn 0.15s ease-in-out forwards;
}

.preview-control {
    display: flex;
    gap: 25px;
    padding: 10px;

    div {
        cursor: pointer;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: 2px solid var(--ev-c-green-3);
        background-color: var(--ev-c-green-2);
        transition: background-color 0.25s ease;

        &:hover {
            filter: brightness(1.25);
        }
    }
}

.upload-progress-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 50%;
    /* border: 1px solid lime; */
}
.upload-progress-details {
    code {
        width: 100%;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        background-color: transparent;
        color: var(--ev-c-text-3);

        div {
            display: flex;
            gap: 10px;
        }
    }
    .getting-status {
        display: inline-block;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        margin: 0 6px;
    }
}
.upload-progress-bar {
    width: 500px;
    height: 14px;
    border-radius: 7px;
    background-color: var(--color-background-mute);
    overflow: hidden;

    div {
        height: 100%;
        width: 0%;
        transition: width 0.5s ease;
        border-radius: 7px;
        box-shadow: inset 0 0 10px #43ffe05d;
        background: -webkit-linear-gradient(
            35deg,
            var(--ev-c-green-3),
            var(--ev-c-green-2) 40%,
            var(--ev-c-green-1) 50%,
            var(--ev-c-green-3) 55%,
            var(--ev-c-green-3)
        );
        background-size: 2000px;
        background-position: 0px;
        background-repeat: repeat;
        animation: movingBg linear infinite;
        animation-duration: 5s;
    }
}

@keyframes movingBg {
    100% {
        background-position: 2000px;
    }
}

/** Library collection */
.theme-card-container {
    background-color: var(--color-background-mute);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.theme-card-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    background: var(--color-background-soft);
    padding: 0 10px 0 10px;
    border-radius: 5px;
    height: 35px;

    .theme-config-state-icons-container {
        position: unset;
        display: flex;
        align-items: baseline;
        gap: 5px;
    }

    svg {
        height: 25px;
        margin-top: 5px;
    }
}

.theme-card-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
.button {
    height: 28px;
    width: 34px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #494949;
    padding: 2px 5px;
    border-radius: 5px;

    &:hover {
        filter: brightness(125%);
    }
}
.apply-button {
    background-color: var(--ev-c-green-2);
}
.delete-button {
    background-color: var(--ev-c-red-2);
}

.theme-card {
    position: relative;
    width: 175px;
    height: 130px;
    font-size: 1.75rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .theme-card-background {
        position: absolute;
        height: 100%;
        width: auto;
    }
    .theme-card-logo {
        z-index: 10;
        width: 175px;
        position: absolute;
        top: calc(50% - 20px);
        display: flex;
        justify-content: center;

        img,
        svg {
            height: 30px;
            max-width: 100%;
            width: auto;
        }
    }
    p {
        z-index: 10;
    }
}

.tooltip {
    position: relative;
    height: fit-content;
    width: fit-content;

    .tooltip-text {
        position: absolute;
        top: 50%;
        left: 100%;
        z-index: 9999;

        max-width: 250px;
        width: max-content;
        min-width: fit-content;
        padding: 5px 10px;
        font-size: 0.95rem;
        font-weight: 100;
        opacity: 0;
        border-radius: 5px;
        background-color: black;
        color: white;
    }

    > img,
    > svg {
        margin-top: 3px;
    }
}

.theme-config-modal-container {
    height: 500px;
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .actions {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}

.theme-config-modal-header {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 20px;

    img,
    svg {
        height: 40px;
        max-width: 100%;
        width: auto;
    }
    h1 {
        color: var(--ev-c-text-1);
    }
}

.theme-config-state-icons-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;

    .theme-config-original-icon > * {
        color: var(--ev-c-text-3);
    }
    .theme-config-default-icon > * {
        color: var(--ev-c-orange-1);
    }
    .theme-config-disabled-icon > * {
        color: var(--ev-c-red-1);
    }
}

.theme-config-modal-options {
    height: 120px;
    border-radius: 15px;
    padding: 5px;
    border: 1px solid #9c9c9c13;
    background-color: #1a1a1a28;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap: 10px;
}

.theme-config-option {
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    border-radius: 10px;

    cursor: pointer;

    border: 1px solid #9c9c9c13;

    div {
        display: block;
        height: 12px;
        width: 12px;
        border-radius: 50%;
    }

    &:hover:not(.disabled) {
        filter: brightness(1.2);
    }

    &.disabled {
        cursor: unset;
        opacity: 0.35;
    }

    &.primary {
        background-color: var(--ev-button-primary-bg);
    }
    &.secondary {
        background-color: var(--ev-button-alt-bg);
    }
    &.tertiary {
        background-color: var(--ev-button-tertiary-bg);
    }
}

.theme-config-modal-terminals {
    height: 240px;
    border-radius: 15px;
    padding: 5px;
    border: 1px solid #9c9c9c13;
    background-color: #1a1a1a28;
}

.mini-modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 200px;
    width: 250px;
}

/* DRAG ZONE */
.dragging-over {
    filter: brightness(1.5);

    > div {
        border-color: #d1d1d171;
    }
}

.dragging-error {
    > div {
        border-color: red;
        --bg-gradient-color: var(--ev-c-red-3);
    }
}

/* the pit */
.the-pit-container {
    > svg {
        position: absolute;
        top: 0%;
        left: -33%;
        /* height: 100vh; */
        /* width: 100vw; */
    }
}
