@import './base.css';

body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url('./wavy-lines.svg');
    background-size: cover;
    user-select: none;
}

code {
    font-weight: 600;
    padding: 3px 5px;
    border-radius: 2px;
    background-color: var(--color-background-mute);
    font-family:
        ui-monospace,
        SFMono-Regular,
        SF Mono,
        Menlo,
        Consolas,
        Liberation Mono,
        monospace;
    font-size: 85%;
}

input[type='text'] {
    cursor: text;
    display: inline-block;
    border: 1px solid transparent;
    text-align: left;
    font-weight: 600;
    white-space: nowrap;
    border-radius: 20px;
    padding: 0 20px;
    line-height: 38px;
    font-size: 14px;

    &:focus {
        outline: none;
    }
}

.input-wrapper {
    position: relative;
    width: fit-content;
    height: auto;
    align-self: center;

    svg {
        cursor: pointer;
        padding: 5px;
        margin-right: 5px;
        position: absolute;
        display: inline-block;
        top: 0;
        right: 0;
        color: var(--color-background-mute);
    }
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80px;
}

.logo {
    margin-bottom: 20px;
    -webkit-user-drag: none;
    height: 128px;
    width: 128px;
    filter: drop-shadow(0 0 1.2em #00221c);
}

.creator {
    font-size: 14px;
    line-height: 16px;
    color: var(--ev-c-text-2);
    font-weight: 600;
    margin-bottom: 10px;
}

.text {
    font-size: 28px;
    color: var(--ev-c-text-1);
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    margin: 0 10px;
    padding: 16px 0;
}

.tip {
    font-size: 16px;
    line-height: 24px;
    color: var(--ev-c-text-2);
    font-weight: 600;
}

.gradient-text {
    background: -webkit-linear-gradient(15deg, var(--ev-c-green-1) 35%, var(--ev-c-green-3));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.actions {
    display: flex;
    /* padding-top: 32px; */
    margin: -6px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.action {
    flex-shrink: 0;
    padding: 6px;
}

.action a {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    gap: 4px;
    align-items: center;
    border: 1px solid transparent;
    text-align: center;
    font-weight: 600;
    white-space: nowrap;
    border-radius: 20px;
    padding: 0 20px;
    line-height: 38px;
    font-size: 14px;
    border-color: var(--ev-button-alt-border);
    color: var(--ev-button-alt-text);
    background-color: var(--ev-button-alt-bg);
    align-self: baseline;

    svg {
        height: 24px;
        width: 24px;
    }
}

.action a:hover {
    border-color: var(--ev-button-alt-hover-border);
    color: var(--ev-button-alt-hover-text);
    background-color: var(--ev-button-alt-hover-bg);
}

.action.primary a {
    border-color: var(--ev-button-primary-border);
    color: var(--ev-button-primary-text);
    background-color: var(--ev-button-primary-bg);
}

.action.primary a:hover {
    border-color: var(--ev-button-primary-hover-border);
    color: var(--ev-button-primary-hover-text);
    background-color: var(--ev-button-primary-hover-bg);
}

.action.tertiary a {
    border-color: var(--ev-button-tertiary-border);
    color: var(--ev-button-tertiary-text);
    background-color: var(--ev-button-tertiary-bg);
}

.action.tertiary a:hover {
    border-color: var(--ev-button-tertiary-hover-border);
    color: var(--ev-button-tertiary-hover-text);
    background-color: var(--ev-button-tertiary-hover-bg);
}

.versions {
    position: absolute;
    bottom: 30px;
    margin: 0 auto;
    padding: 15px 0;
    font-family: 'Menlo', 'Lucida Console', monospace;
    display: inline-flex;
    overflow: hidden;
    align-items: center;
    border-radius: 22px;
    background-color: #202127;
    backdrop-filter: blur(24px);
}

.versions li {
    display: block;
    float: left;
    border-right: 1px solid var(--ev-c-gray-1);
    padding: 0 20px;
    font-size: 14px;
    line-height: 14px;
    opacity: 0.8;
    &:last-child {
        border: none;
    }
}

@media (max-width: 720px) {
    .text {
        font-size: 20px;
    }
}

@media (max-width: 620px) {
    .versions {
        display: none;
    }
}

@media (max-width: 350px) {
    .tip,
    .actions {
        display: none;
    }
}

/* : Screens : */
.screen-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px;
    box-sizing: border-box;
    overflow: hidden;
}

.screen-header {
    width: 65vw;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: calc(10ch - 50px);

    .header-group {
        display: flex;
        align-items: baseline;
        gap: 12px;
    }
}

/* : Sidebar : */
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100vh;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    background-color: var(--ev-c-black);
    transition: width 0.3s ease-in-out;
    opacity: 0;
    animation: fadeIn 0.15s ease-in-out 0.3s forwards;

    border-right: 1px solid transparent;
    border-image-source: linear-gradient(
        to bottom,
        var(--ev-c-green-3),
        var(--ev-c-green-1),
        #00000000
    );
    border-image-slice: 1;

    a {
        display: flex;
        align-items: center;
        gap: 12px;
        color: var(--ev-c-green-1);
        text-decoration: none;
        border-left: 1px solid transparent;

        svg {
            width: 36px;
            height: 36px;
            min-width: 36px;
        }

        &:last-child {
            margin-top: auto;
        }
    }

    > img {
        margin-left: auto;
        width: 30px;
        height: 30px;
    }

    span {
        line-height: 8px;
        text-overflow: clip;
        text-wrap: nowrap;
        opacity: 0;
        animation: fadeIn 0.15s ease-in-out 0.3s forwards;
    }

    .selected {
        color: var(--ev-c-text-1);
    }
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.sidebar.closed {
    width: 80px;
}

/* : Languages : */
.lang-keys-container {
    height: 80vh;
    width: 65vw;
    overflow-y: scroll;
    position: relative;

    .lang-row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        border: 1px solid var(--ev-c-green-3);
        border-top: none;

        &:first-child {
            position: sticky;
            top: 0;
            background-color: var(--ev-c-green-3);
        }

        p {
            overflow-wrap: break-word;
            padding: 6px 12px;
        }

        .edited {
            background-color: var(--ev-c-red-1);
        }

        .edited {
            background-color: var(--ev-c-green-2);
        }
    }
}

.lang-editor-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 101;
    transform: translate(-50%, -50%);
    background-color: var(--ev-c-black);
    border: 1px solid var(--ev-c-green-3);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    textarea {
        border: 1px solid var(--ev-c-green-1);
        padding: 10px;
        height: 120px;
        border-radius: 4px;
        font-family: 'Menlo', 'Lucida Console', monospace;
        font-size: 14px;
        line-height: 18px;
        resize: none;

        &:focus {
            outline: none;
        }
    }
    .actions {
        display: flex;
        gap: 12px;
        justify-content: flex-end;
    }
}

.modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    backdrop-filter: blur(4px);
}

/* : Landing : */
.landing-buttons {
    margin: 24px 0px;
}

.select-version-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    div {
        border: 1px solid var(--ev-c-green-3);
        border-radius: 4px;
        padding: 20px 30px;
    }
}

/* : Assets : */
.assets-grid {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
}

.assets-container {
    border: 1px solid transparent;
    border-image-source: linear-gradient(to left, var(--ev-c-green-3), var(--ev-c-green-1));
    border-image-slice: 1;
    padding: 10px 20px 20px 20px;
    background-color: var(--color-background);
}

.bg-asset-container {
    img {
        height: 200px;
    }
}

.icon-asset-container {
    /* width: min-content; */
    margin-bottom: 10px;

    p {
        margin: 0 20px 10px 20px;
    }

    .icons-container {
        width: 210px;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
    }
    img {
        height: 70px;
    }

    .actions {
        margin-top: 8px;
        justify-content: space-between;
    }
}

.thirdscreen-asset-container {
    video {
        height: 200px;
    }
    img {
        height: 200px;
    }
}

.audio-asset-container {
    p {
        margin: 0 20px 10px 20px;
    }

    audio {
        background-color: transparent;
    }

    .actions {
        margin-top: 8px;
        justify-content: space-between;
    }
}

.color-asset-container {
    margin: 1px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .original-color-sample {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 50px;
        background-color: white;
        color: black;
        padding: 6px 8px 6px 18px;
    }
    .color-sample {
        height: 30px;
        width: 30px;
        border-radius: 20px;
        border: var(--color-background) 2px solid;
    }

    .tag {
        margin-left: 20px;
        font-size: 12px;
        line-height: 4px;
    }

    .input-wrapper {
        width: 100%;
    }

    .color-input {
        position: relative;
        width: 100%;
        height: auto;
        align-self: center;
    }

    .custom-color-sample {
        position: absolute;
        top: 5px;
        right: 7px;
        height: 30px;
        width: 30px;
        border-radius: 20px;
        border: var(--color-background) 2px solid;
    }
}

.fade-in {
    animation: fadeIn 1s ease;
}
